
@page

<div class="text-center">
    <h2>Спасибо!</h2>
    <p>Спасибо за размещенный заказ #@OrderId</p>
    <p>Наш специалист свяжется с Вами в ближайшее время </p>
    <a class="btn btn-primary" asp-controller="Home">Вернуься к покупкам</a>
</div>

@functions {

    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}
