@model Order

<h2>Оформление заказа</h2>
<p>Заполниете форму ниже для отправки заказа!</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Форма заказа</h3>
    <div class="form-group">
        <label>Название компании:</label><input asp-for="NameCompany" class="form-control" />
    </div>
    <div class="form-group">
        <label>Имя:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Номер телефона:</label><input asp-for="Number" class="form-control" />
    </div>
    <div class="form-group">
        <label>E-mail</label><input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Дополнительные комментарии к заказу:</label><input asp-for="Adding" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Отправить заказ" />
    </div>
</form>

