
<div class="text-center">
    <h2>Спасибо!</h2>
    <p>Спасибо за размещенный заказ!</p>
    <p>Наши специалисты свяжутся с Вами в самое ближайшее время!</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Вернуься к покупкам</a>
</div>
