@model Request
@{
Layout=null;
}
<!DOCTYPE html>
<html>
<head>
<title>Окрасочное оборудования | Комплектующие | Запчасти </title>
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
<link href="~/lib/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="~/lib/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="~/lib/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- dropdown -->
<script src="~/lib/js/jquery.easydropdown.js"></script>
<link href="~/lib/css/nav.css" rel="stylesheet" type="text/css" media="all"/>
<script src="~/lib/js/scripts.js" type="text/javascript"></script>
<!--js-->
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="~/lib/js/move-top.js"></script>
		<script type="text/javascript" src="~/lib/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
</head>
<body>
<!--основной банер-->
<script src="~/lib/js/responsiveslides.min.js"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Меню</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						  <li class="dropdown1"><a href="#">ОБОРУДОВАНИЕ</a>
							  <ul class="dropdown2">
									<li><a asp-controller="home" asp-action="index">Пневматические окрасочные аппараты</a></li>
									<li><a href="#">CITY BIKES</a></li>
									<li><a href="#">PREMIMUN SERIES</a></li>												
							  </ul>
						  </li>
						  <li class="dropdown1"><a href="#">КОМПЛЕКТУЮЩИЕ</a>
							 <ul class="dropdown2">
									<li><a href="#">CHAINS</a></li>
									<li><a href="#">TUBES</a></li>
									<li><a href="#">TIRES</a></li>
									<li><a href="#">DISC BREAKS</a></li>
							  </ul>
						 </li>      
						 <li class="dropdown1"><a href="#">ЗАПЧАСТИ</a>
							 <ul class="dropdown2">
									<li><a href="#">LOCKS</a></li>
										<li><a href="#">HELMETS</a></li>
										<li><a href="#">ARM COVERS</a></li>
										<li><a href="#">JERSEYS</a></li>
							  </ul>
						 </li>               
						 <li class="dropdown1"><a href="#">ЗИП</a>
							 <ul class="dropdown2">
									<li><a href="#">CLASSIC BELL</a></li>
									<li><a href="#">BOTTLE CAGE</a></li>
									<li><a href="#">TRUCK GRIP</a></li>
							  </ul>
						 </li>
						  <a class="shop" href="#"><img src="~/lib/images/cart.png" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>	 
	 <div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>ПРОФЕССИОНАЛЬНЫЕ  ОКРАСОЧНЫЕ <br/> АППАРАТЫ</h1></li>
								<li><h1>ПНЕВМАТИЧЕСКИЕ ОКРАСОЧНЫЕ<br/> АППАРАТЫ</h1></li>	
								<li><h1>АППАРАТЫ<br/> С БЕНЗИНОВЫМ ПРИВОДОМ</h1></li>	
								<li><h1> ОКРАСОЧНОЕ ОБОРУДОВАНИЕ<br/> С ЭЛЕКТРИЧЕСИКМ ПРИВОДОМ</h1></li>	
						  </ul>
						  <p> Только  качественное окрасочное оборуование <br/> все остальное - <span>компромис!</span></p>
						  <a class="morebtn" href="#">ПЕРЕЙТИ В МАГАЗИН</a>
					  </div>
				  </div>
	 </div>
	 <div class="dwn">
		<a class="scroll" href="#"><img style="max-height:100px; max-width:100px;" src="~/lib/Img/gear.png" alt="вниз"/></a>
	 </div>				 
</div>
<!--категории-->
<div id="cate" class="categories">
	 <div class="container">
		 <h3>КАТЕГОРИИ</h3>
		 <div class="row cate-grid"  >
			 <div class="col-md-4 cate-grid grid1">
				 <h4>ОБОРУДОВАНИЕ</h4>
				 <p>Профессиональное окрасочное   <br/> оборудование</p>
				 <a class="store" href="#">ПЕРЕЙТИ К ПОКУПКАМ</a>
			 </div>
			<div class="col-md-4 cate-grid grid2">
				 <h4>КОМПЛЕКТУЮЩИЕ</h4>
				 <p>Аксессуары для всех видов<br/> окрасочных работ</p>
				 <a class="store" href="#">ПЕРЕЙТИ К ПОКУПКАМ</a>
			 </div>
			<div class="col-md-4 cate-grid grid3">
				 <h4>ЗИП</h4>
				 <p>Запасные части<br/> высокого качества</p>
				 <a class="store" href="#">ПЕРЕЙТИ К ПОКУПКАМ</a>
			 </div>
			 
		 </div>
	 </div>
</div>
<!--Линейка оборудования-->
<div class="bikes">	
		 <h3>ПОПУЛЯРНОЕ ОБОРУДОВАНИЕ</h3>
		 <div class="bikes-grids">			 
			 <ul id="flexiselDemo1">
				 <li>
					 <img src="~/lib/Img/mainmenu-popular-product/MarkV.jpeg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>GRACO MARK V</h4>							 
						 </div>
						 <div class="model-info" >
							 <a href="#">КУПИТЬ</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="#">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				 <li>
				 <img src="~/lib/Img/mainmenu-popular-product/GX21.jpg" alt=""/>
				 <div class="bike-info">
						 <div class="model">
							 <h4>GRACO GX21</h4>							 
						 </div>
						 <div class="model-info">
							 <a href="#">КУПИТЬ</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="#">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				 <li>
					 <img src="~/lib/Img/mainmenu-popular-product/king.jpg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>GRACO KING</h4>							 
						 </div>
						 <div class="model-info">
						     
							 <a href="#">КУПИТЬ</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="#">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				 <li>
				     <img src="~/lib/Img/mainmenu-popular-product/stmax.jpeg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>GRACO StMax</h4>							 
						 </div>
						 <div class="model-info">
							 <a href="#">КУПИТЬ</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="#">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				  <li>
				     <img src="~/lib/Img/mainmenu-popular-product/Merkur.jpeg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>GRACO Merkur</h4>							 
						 </div>
						 <div class="model-info">
							 <a href="#">КУПИТЬ</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="#">ПЕРЕЙТИ</a>
					 </div>
				 </li>
		
		    </ul>
			<script type="text/javascript">
			 $(window).load(function() {			
			  $("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="~/lib/js/jquery.flexisel.js"></script>			 
	</div>
</div>
<!---->
<div class="contact">
	<div class="container">
		<h3>ОБРАТНАЯ СВЯЗЬ</h3>
		<p>ПОЖАЛУЙСТА, ЗАПОЛНИТЕ ФОРМУ НИЖЕ</p>
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-controller="Main" asp-action="SaveRequst" method="post">
			 <input class="user" type="text" placeholder="НАЗВАНИЕ КОМПАНИИ" asp-for="Company"><br>
			 <input class="user" type="text" placeholder="Имя" asp-for="Name"><br>
			 <input class="user" type="text" placeholder="USER@DOMAIN.RU" asp-for="Email"><br>
			 <input class="user" type="text" placeholder="Телефон" asp-for="Number"><br>
			 <textarea placeholder="Сообщение" asp-for="Desc"></textarea>
			 <input type="submit" value="ОТПРАВИТЬ">
		</form>
	</div>
</div>
<!---->
<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <a href="#"><img style="max-height:100px; max-width:100px;" src="~/lib/Img/gear.png" alt="IGEG"/></a>
			    <p class="text-center text-muted">&copy; 2022 Окрасочное оборудование, Designe by IGEG</p>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <li><a href="#">ОБОРУДОВАНИЕ</a></li>
				 <li><a href="#">КОМПЛЕКТУЮЩИЕ</a></li>
				 <li><a href="#">АКСЕССУАРЫ</a></li>
				 <li><a href="#">ЗАПЧАСТИ</a></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
<!---->

</body>
</html>