@model Request
@{
Layout=null;
}
<!DOCTYPE html>
<html>
<head>
<title>Окрасочное оборудования | Комплектующие | Запчасти </title>
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
<link href="~/lib/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="~/lib/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="~/lib/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale="1">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<!-- dropdown -->
<script src="~/lib/js/jquery.easydropdown.js"></script>
<link href="~/lib/css/nav.css" rel="stylesheet" type="text/css" media="all"/>
<script src="~/lib/js/scripts.js" type="text/javascript"></script>
<!--js-->
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="~/lib/js/move-top.js"></script>
		<script type="text/javascript" src="~/lib/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
</head>
<body>
<!--основной банер-->
<script src="~/lib/js/responsiveslides.min.js"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Меню</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						  <li class="dropdown1"><a  asp-controller="Category" asp-action="index">ОБОРУДОВАНИЕ</a>
							  <ul class="dropdown2">
									<li><a asp-controller="category" asp-action="index" asp-route-category="Пневматические окрасочные аппараты"
asp-route-numberPage="1">Пневматические аппараты</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Электрические окрасочные аппараты"
asp-route-numberPage="1">Электрические аппараты</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Бензиновые окрасочные аппараты"
asp-route-numberPage="1">Бензиновые аппараты</a></li>	
									<li><a asp-controller="category" asp-action="index" asp-route-category="Штукатурные и шпаклевочные станции"
asp-route-numberPage="1">Текстурные распылители</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Reactor,установки для ППУ"
asp-route-numberPage="1">Установки для ППУ</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Нанесение разметки"
asp-route-numberPage="1">Нанесение разметки</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Насосы"
asp-route-numberPage="1">Насосы</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Ручные окрасочные пистолеты"
asp-route-numberPage="1">Ручные окрасочные пистолеты</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Многокомпонентные системы"
asp-route-numberPage="1">Многокомпонетные установки</a></li>
									<li><a asp-controller="category" asp-action="index" asp-route-category="Нанесение герметиков клеев"
asp-route-numberPage="1">Нанесение герметика и клея</a></li>

							  </ul>
						  </li>
						  <li class="dropdown1"><a href="#">КОМПЛЕКТУЮЩИЕ</a>
							 <ul class="dropdown2">
									<li><a asp-controller="home" asp-action="index">Пистолеты-распылители</a></li>
									<li><a asp-controller="home" asp-action="index">Мешалки</a></li>
									<li><a asp-controller="home" asp-action="index">Окрасочные рукава</a></li>	
									<li><a asp-controller="home" asp-action="index">Сопла</a></li>
									<li><a asp-controller="home" asp-action="index">Второй окрасочный пост</a></li>
									<li><a asp-controller="home" asp-action="index">Удлинители</a></li>
									<li><a asp-controller="home" asp-action="index">Масло TSL</a></li>
									<li><a asp-controller="home" asp-action="index">Краны</a></li>
							  </ul>
						 </li>      
						 <li class="dropdown1"><a href="#">ЗАПЧАСТИ</a></li>  
						 <li class="dropdown1"><a href="#">НОВОСТИ</a></li>
						 <li class="dropdown1"><a href="#">КОНТАКТЫ</a></li>
						 <div class="col text-right m-1 p-1"><vc:cart-font-awesom /></div>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>	 
	 <div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>ПРОФЕССИОНАЛЬНЫЕ  ОКРАСОЧНЫЕ <br/> АППАРАТЫ</h1></li>
								<li><h1>ПНЕВМАТИЧЕСКИЕ ОКРАСОЧНЫЕ<br/> АППАРАТЫ</h1></li>	
								<li><h1>АППАРАТЫ<br/> С БЕНЗИНОВЫМ ПРИВОДОМ</h1></li>	
								<li><h1> ОКРАСОЧНОЕ ОБОРУДОВАНИЕ<br/> С ЭЛЕКТРИЧЕСИКМ ПРИВОДОМ</h1></li>	
						  </ul>
						  <p> Только  качественное окрасочное оборуование <br/> все остальное - <span>компромис!</span></p>
						  <a class="morebtn" asp-controller="Category" asp-action="Index">ПЕРЕЙТИ В МАГАЗИН</a>
					  </div>
				  </div>
	 </div>
	 <div class="dwn">
		<a class="scroll" href="#cate"><img style="max-height:100px; max-width:100px;" src="~/lib/Img/gear.png" alt="вниз"/></a>
	 </div>	
	 <div class="clearfix"></div>
</div>
<!--Линейка оборудования-->
<div class="bikes">	
		 <h3>ПОПУЛЯРНОЕ ОБОРУДОВАНИЕ</h3>
		 <div class="bikes-grids">			 
			 <ul id="flexiselDemo1">
				 <li>
					 <img src="~/lib/Img/mainmenu-popular-product/MarkV.jpeg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4></h4>							 
						 </div>				 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="~/Category/Product/graco-mark-v">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				 <li>
				 <img src="~/lib/Img/mainmenu-popular-product/GX21.jpg" alt=""/>
				 <div class="bike-info">
						 <div class="model">
							 <h4></h4>							 
						 </div>					 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="~/Category/Product/graco-gx21">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				 <li>
					 <img src="~/lib/Img/mainmenu-popular-product/king.jpg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4></h4>							 
						 </div>					 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="~/Category/Product/graco-king">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				 <li>
				     <img src="~/lib/Img/mainmenu-popular-product/stmax.jpeg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4></h4>							 
						 </div>					 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="#">ПЕРЕЙТИ</a>
					 </div>
				 </li>
				  <li>
				     <img src="~/lib/Img/mainmenu-popular-product/Merkur.jpeg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4></h4>							 
						 </div>					 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="~/Category/Product/graco-king">ПЕРЕЙТИ</a>
					 </div>
				 </li>
		
		    </ul>
			
			<script type="text/javascript">
			 $(window).load(function() {			
			  $("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="~/lib/js/jquery.flexisel.js"></script>			 
	</div>
</div>
<!---->
<div class="contact">
	<div class="container">
		<h3>ОБРАТНАЯ СВЯЗЬ</h3>
		<p>ПОЖАЛУЙСТА, ЗАПОЛНИТЕ ФОРМУ НИЖЕ</p>
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-controller="Main" asp-action="SaveRequst" method="post">
			 <input class="user" type="text" placeholder="НАЗВАНИЕ КОМПАНИИ" asp-for="Company"><br>
			 <input class="user" type="text" placeholder="Имя" asp-for="Name"><br>
			 <input class="user" type="text" placeholder="USER@DOMAIN.RU" asp-for="Email"><br>
			 <input class="user" type="text" placeholder="Телефон" asp-for="Number"><br>
			 <textarea placeholder="Сообщение" asp-for="Desc"></textarea>
			 <input type="submit" value="ОТПРАВИТЬ">
		</form>
		<div class="clearfix"></div>
	</div>
</div>
<!---->
<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <a href="#"><img style="max-height:100px; max-width:100px;" src="~/lib/Img/gear.png" alt="IGEG"/></a>
			    <p class="text-center text-muted">&copy; 2022 Окрасочное оборудование, Designe by IGEG</p>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <li><a asp-controller="category" asp-action="index">ОБОРУДОВАНИЕ</a></li>
				 <li><a asp-controller="category" asp-action="index">КОМПЛЕКТУЮЩИЕ</a></li>
				 <li><a asp-controller="category" asp-action="index">АКСЕССУАРЫ</a></li>
				 <li><a asp-controller="category" asp-action="index">ЗАПЧАСТИ</a></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
<!---->

</body>
</html>